<section  ng-controller="panelController as panel">
  <form id="createWidget" name="createWidget" ng-submit="gridster.createWidget()" ng-init="gridster.tab = 1">
    <ul class="nav nav-pills" style="border-bottom: 1px solid #ccc">
      <li class="tab-style" ng-class="{active: gridster.isSelected(1)}">
        <a href ng-click="gridster.selectTab(1)">
          Data
        </a>
      </li>


      <li class="tab-style" ng-class="{active: gridster.isSelected(2)}">
        <a href ng-click="gridster.selectTab(2)">
          Style
        </a>
      </li>
    </ul>

    <ng-form  ng-show="gridster.isSelected(1)" name="gridster.data_form" class="form-horizontal">



        <div class="form-group" style="padding-top:25px;">
          <label for="provider" class="col-xs-3 control-label label-style">Provider</label>
          <div class="col-xs-9">
            <select ng-model="provider_selected.provider_selected" class="form-control" ng-change="gridster.show_source_list()"
            ng-options="provider_selected.name for provider_selected in gridster.provider_list" ng-required="true">
             <option value=""></option>
            </select>
          </div>
        </div>


        <div class="form-group">
          <label for="source" class="col-xs-3 control-label label-style">Source</label>
          <div class="col-xs-9">
            <select ng-model="source_selected.source_selected" class="form-control" ng-change="gridster.source_selection_changed()"
            ng-options="source_selected.description for source_selected in gridster.source_list" ng-required="true">
             <option value=""></option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="name" class="col-xs-3 control-label label-style">Title</label>
          <div class="col-xs-9">
            <input ng-model="gridster.widget_name" type="text" class="form-control"
            placeholder="introduce a title for the widget" required/>
          </div>
        </div>
    </ng-form>



    <ng-form ng-show="gridster.isSelected(2)" name="gridster.style_form" class="form-horizontal">
        <br>
        <div class="text-center">
          <div style="display:inline-block">
            <img ng-class="{active: gridster.isImageSelected(1)}" src="assets/images/number.png"
            width=128 height=128 alt="chart" class="btn btn-default" role="button"
            title="number" ng-click="gridster.selectImage(1)">
          </div>
          <div style="display:inline-block">
            <img ng-class="{active: gridster.isImageSelected(2)}" src="assets/images/image.png"
            width=128 height=128 alt="chart" class="btn btn-default" role="button"
            title="images" ng-click="gridster.selectImage(2)">
          </div>

          <div style="display:inline-block">
            <img ng-class="{active: gridster.isImageSelected(3)}" src="assets/images/chart.png"
            width=128 height=128 alt="chart" class="btn btn-default" role="button"
            title="chart" ng-click="gridster.selectImage(3)">
          </div>
          <div style="display:inline-block">
            <img ng-class="{active: gridster.isImageSelected(4)}" src="assets/images/text.png"
            width=128 height=128 alt="chart" class="btn btn-default" role="button"
            title="text" ng-click="gridster.selectImage(4)">
          </div>
        </div>

        <br>
        <div class="form-group">
          <label for="size" class="col-xs-3 control-label label-style">Size</label>
          <div class="col-xs-9">
            <select ng-model="gridster.size_type" class="form-control">
              <option value="small">1 column / 1 row</option>
              <option value="medium">1 columns / 2 rows</option>
              <option value="big">2 columns / 2 rows</option>
            </select>
          </div>
        </div>
        <br>

    </ng-form>


  </form>

</section>
