<div class="container" ng-controller="gridsterCtrl as gridster" ng-if="dashboard.dashboard_selected">

  <!-- DROPDOWN -->


  <div >
    <a ng-click="toggleModal()" class="add_new_widget btn-lg settings-icon glyphicon glyphicon-plus"
    role="button">
    </a>

    <create-dashboard title="Create new widget" createWidgetBody="true" visible="showModal">
      <create-widget></create-widget>

    </create-dashboard>
  </div>

<br/>
  <!-- GRIDSTER -->



  <div  gridster="gridster.gridsterOpts">
    <ul>
        <li ng-model="item" gridster-item="item" ng-repeat="item in dashboard.widget_list" class="widget-body">
          <widget-body></widget-body>
        </li>
    </ul>
  </div>

</div>
