<div ng-controller="gridsterCtrl as gridster" ng-if="dashboard.dashboard_selected">
  <h3>{{dashboard.dashboardSelected.name}}</h3>
  <!-- DROPDOWN -->

  <div>
    <select ng-model="source_selected" ng-options="source_selected.provider + ' ' + source_selected.id for source_selected in gridster.source_list" ng-change="addWidget()">
      <option value="" disabled selected>Create new widget</option>
    </select>
  </div>


<br/>
  <!-- GRIDSTER -->



  <div  gridster="gridster.gridsterOpts">
    <ul>
        <li ng-model="item" gridster-item="item" ng-repeat="item in dashboard.widget_list" style="background-color: #f1f1f1">
          <widget-body></widget-body>
        </li>
    </ul>
  </div>

</div>
