<div ng-controller="dashboardCtrl as dashboard">

  <div class="container-fluid">

      <button ng-click="toggleModal()" class="btn btn-default">Create Dashboard</button>
      <create-dashboard title="Create Dashboard" visible="showModal">
        <form role="form" ng-submit="createDashboard()">
          <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="dashboard.name" type="text" class="form-control" placeholder="Dashboard name" required/>
          </div>
          <div class="text-right">
            <button type="button" class="btn btn-default" ng-click="toggleModal()">Cancel</button>
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </form>
      </create-dashboard>
      <div ng-show="dashboard.no_dashboard">
        No existe ningun dashboard asociado a esta cuenta, por favor cree uno nuevo
      </div>



      <select ng-model="item" id="dashboard_selected_list" ng-options="item.name for item in dashboard.dashboardList track by item.id" ng-change="showDashboard()">
        <option value="" disabled selected>Select your option</option>
      </select>


  </div>

  <dashboard>
  </dashboard>


</div>
