<div ng-controller="dashboardCtrl as dashboard" class="container-fluid" ng-init="dashboard.dashboard_list()">

  <div class="header">
    <nav class="navbar navbar-default navbar-fixed-top main-nav">

      <div class="container">
        <div class="navbar-header">

          <button class="navbar-toggle collapsed"  aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand">

          </a>
        </div>

        <!-- collapsible menu -->
        <div id="navbar" class="navbar-collapse collapse">
          <!-- left menu-->
          <ul class="nav navbar-nav">
          </ul>


          <!-- right menu -->
          <ul class="nav navbar-nav navbar-right">
            <li>
              <select ng-model="item" id="dashboard_selected_list" class="form-control navbar-form dashboard-select"
              ng-options="item.name for item in dashboard.dashboardList track by item.id" ng-change="dashboard.showDashboard()">
                <option value="" disabled selected>Select your option</option>
              </select>
            </li>

            <li class="dropdown">
              <a class="glyphicon glyphicon-cog btn-lg dropdown-toggle settings-icon" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false" role="button">
              </a>
              <ul class="dropdown-menu">
                <li role="presentation">
                  <a class="glyphicon glyphicon-plus" role="menuitem" ng-click="toggleModal()"> Add dashboard</a>
                </li>
                <li role="presentation" ng-if="dashboard.dashboardSelected.id">
                  <a class="glyphicon glyphicon-minus" role="menuitem" ng-click="dashboard.deleteDashboard"
                  confirmation-needed="{{dashboard.confirm_delete_dashboard}}" dashboardid="{{dashboard.dashboardSelected.name}}"> Delete dashboard</a>
                </li>
                <li role="separator" class="divider"></li>
                <li ng-controller="LogoutCtrl as logout" role="presentation">
                  <a class="glyphicon glyphicon-off" role="menuitem" ng-click="logout.logout()"> Logout</a>
                </li>

              </ul>
            </li>

          </ul>
        </div>


      </div>
    </nav>

  </div>

  <div class="container-fluid body-container">
      <create-dashboard title="Create Dashboard" visible="showModal">
        <form role="form" ng-submit="dashboard.createDashboard()" class="form-horizontal">

            <div class="form-group">
              <label for="name" class="col-sm-2 col-xs-3 control-label">Name</label>
              <div class="col-sm-10 col-xs-9">
                <input ng-model="dashboard.name" type="text" class="form-control" placeholder="Dashboard name" required/>
              </div>
            </div>

          <div class="text-right">
            <button type="button" class="btn btn-default" ng-click="toggleModal()">Cancel</button>
            <button type="submit" class="btn btn-info">Submit</button>
          </div>
        </form>
      </create-dashboard>
  </div>
  <dashboard>
  </dashboard>


</div>
