<div ng-controller="dashboardCtrl as dashboard">

  <div class="container">
    <div class="col-md-6">
      <button ng-click="toggleModal()" class="btn btn-default">Create Dashboard</button>
      <create-dashboard title="Create Dashboard" visible="showModal">
        <form role="form" ng-submit="dashboard.createDashboard()">
          <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="dashboard.name" type="text" class="form-control" placeholder="Dashboard name" />
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </create-dashboard>
      <div ng-show="dashboard.no_dashboard">
        No existe ningun dashboard asociado a esta cuenta, por favor cree uno nuevo
      </div>
    </div>

    <div class="col-md-6">
      <select ng-model="item" id="dashboard_selected_list" ng-options="item.name for item in dashboard.dashboardList track by item.id" ng-change="dashboard.showDashboard()">
        <option value="" disabled selected>Select your option</option>
      </select>
    </div>

  </div>

  <dashboard>
  </dashboard>


</div>
