/*.btn{
  border-radius : 0px !important;
}*/

img.btn{
  padding: 0px !important;
  border-width: 0px !important;

}

// Types

.btn-cancel{
  border: 1px solid $cancel-border-color;
  background-color: $cancel-background-color;
  color: #333;

  &:hover,
  &:focus {
    background-color: $cancel-background-color-darker;
    border: 1px solid $cancel-border-color-darker;
  }
}

.btn-block{
  background-color: #669999 !important;
  border: 0px;
}
.btn-primary{
  background-color: #339999;
  border: 0px;
}

.btn-primary:hover{
  background-color: #009999;
  border: 0px;
}

.btn-color{
    height: 100px;
    width: 100px;
}
.btn-color:hover{
    border : 3px solid yellow;
}
.btn-color.active{
  border : 3px solid yellow;
}


// States

.btn.active{
  box-shadow: none;
}

// Color

.btn-tile{
  background-color: #328FB0 !important;
}

.btn.active.btn-tile{
  background-color: #328FB0 !important;
}

.btn-pink{
  background-color: #E91E63 !important;
}

.btn-active.btn-pink{
  background-color: #E91E63 !important;
}

.btn-blue{
  background-color: #FF5722 !important;
}

.btn-active.btn-blue{
  background-color: #FF5722 !important;
}

.btn-lime{
  background-color: #4CAF50 !important;
}

.btn-active.btn-lime{
  background-color: #4CAF50 !important;
}

img.btn.active{
  border-width: 3px !important;
  border-color: #FFFF00 !important;
}


.btn-create{
  background-color: $create-background-color;
  color: #fff;

  &:hover,
  &:focus{
    background-color: $create-background-color-darker;
    color: #fff;
  }
}
