.widget-menu{
  background: #e7e7e7;
  display: inline-block;
  padding-top: 5px;
  width: 100%;
  cursor: pointer;
}

.widget-right-menu{
  display: inline-block;
  width: 10px;
}

.widget-left-menu{
  display: inline-block;
  margin-left: 10px;
  width: calc(100% - 80px);
}

.widget-title{
  color: gray;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.widget{
  .widget-li{
    margin: 0px;
    top: 10px;
    left: 10px;
    width: 260px;
    height: 115px;
    border: 5px solid #EEEEEE;
    border-radius: 0px;
    background-color: white !important;
  }
  .main-body{
    height: calc(100%);
    display: block;
  }
  .el-body{
    display: block;
    height: calc(100% - 40px);
  }
}

.number-template{
  display: flex;
  height: calc(100%);
  padding-bottom: 10px;
  padding-top: 10px;
}

.widget-divider{
  display: inline-block;
  height: calc(100%);
  margin-left: 40px;
  width: 7px;
}

.widget-simple-number{
  display: inline-block;
  height: calc(100%);
  vertical-align: middle;
  width: calc(100% - 75px);
}

.widget-data-simple-number{
  color: #666666;
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 15px;
  text-align: left;
}

.widget-data-simple-number-text{
  color: #CCCCCC;

  font-size: 24px;
  margin-left: 15px;
  text-align: left;
}



.navbar-widget{
  background-color: #f8f8f8;
  /*border-color: #e7e7e7;*/
  height: 35px !important;
  min-height: 30px !important;

}

.navbar-widget .navbar-brand{
  float: left;
  padding: 5px;
  font-size: 15px;
}

.navbar-widget .navbar-nav>li>a{
  line-height: 5px !important;
}
