// Colors

$primary-color: #399;

// Fonts

$primary-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'Lato', 'appleLogo', sans-serif;

$create-background-color: #339999;
$create-background-color-darker: darken($create-background-color, 5%);
