.widget-menu{
    background: #e7e7e7;
    display: inline-block;
    padding-top: 5px;
    width: 100%;
}

.widget-right-menu{
  display: inline-block;
  float: right;
  margin-right: 5px;
}

.widget-left-menu{
  display: inline-block;
  float: left;
  margin-left: 10px;
}
.widget-title{
  color: gray;
  font-weight: bold;
}

.header-modalform{
  border-radius: 4px;
  color: gray;
  font-size: 5px !important;
  padding: 8px 15px;
  background: #e7e7e7;
}
.body-modalform{
  /*background: url("../images/background.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #008d98;*/
  padding-top: 35px;
}

.btn-create{
  background-color: #007c99;
  border-color: #0088a0;
  color: #fff;
}

.btn-create:hover{
  background-color: #0088a0;
  border-color: #00718e;
  color: #fff;
}

.btn-create:focus{
  background-color: #00718e;
  border-color: #00718e;
  color: #fff;
}


.btn-cancel{
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #333;
}

.btn-cancel:hover{
  background-color: #d4d4d4;
  border-color: #adadad;
  color: #333;
}

.btn-cancel:focus{
  background-color: #c5c5c5;
  border-color: #868686;
  color: #333;
}

.label-style{
  font-weight: normal;
  color : #007c99;
}

.tab-style{

}
.tab-style.active > a{
  background: -moz-linear-gradient(center top , #f8f8f8 30%, #cccccc 90%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  color: gray !important;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid #cccccc;
}
.tab-style > a{
  /*color : #007c99!important;*/
  background: #f8f8f8 !important;
  color: gray !important;
  border-radius: 4px 4px 0px 0px !important;
  border: 1px solid #cccccc;
  padding: 5px 10px !important;
}
body{
  background : url('../images/background.png');
}

.main-menu{

}

.createwidget_body{
  height: 300px !important;
}

.widget-body{
  margin: 0px;
  top: 10px;
  left: 10px;
  width: 260px;
  height: 115px;
  border: 5px solid #EEEEEE;
  border-radius: 0px;
  background-color: white !important;
}

.widget-data-simple-number{
  color: #666666;
  font-family: 'Montserrat';
  font-size: 72px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 15px;
  text-align: left;
}

.widget-data-simple-number-text{
  color: #CCCCCC;
  font-family: 'Montserrat';
  font-size: 24px;
  margin-left: 15px;
  text-align: left;
}

.widget-simple-number{
  display: inline-block;
}

.widget_divider{
  background-color: #339999;
  height: 120px;
  width: 7px;
  display: inline-block;
  margin-left: 60px;
}

.navbar-widget{
  background-color: #f8f8f8;
  /*border-color: #e7e7e7;*/
  height: 35px !important;
  min-height: 30px !important;

}

.navbar-widget .navbar-brand{
  float: left;
  padding: 5px;
  font-size: 15px;
}



.navbar-widget .navbar-nav>li>a{
  line-height: 5px !important;
}


/* greemn rgba(36, 143, 141, 0.2)*
azzul  rgba(40, 96, 144, 1)#286090
*/
.icon_values{
  background-color: transparent !important;
}


.main-nav{
  background-color: rgba(230, 230, 230, 0.5);
}

.dashboard-select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color : white;
    background: rgba(77,77,77,0.6) url("../images/select.png") no-repeat 100% center;
    height: 40px !important;
    margin-left: 1px;

}
.dashboard-select > option{
  background: none repeat scroll 0 0 #f8f8f8;
  color: #555;
}

.dashboard-select > option:disabled{
  background: none repeat scroll 0 0 #f8f8f8;
  color: rgb(180, 180, 180);
}
.settings-icon{
  background: transparent !important;
  margin-left: 10px;
}
.button-style{
  color: gray;
    height: 25px;
    text-align: center;
    width: 25px;
}


.notifications_banner {
  background: none repeat scroll 0 0 #800000;
  font-weight: 900;
  color: #fff;
  font-family: Lato,appleLogo,sans-serif;
  font-size: 13px;
  line-height: 25px;
  padding: 5px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transition: all 0.1s ease 0s;
  width: 100% !important;
  cursor: pointer;
  margin-left: -29px;
  margin-top : 55px;
  float: right;
  position: fixed;
}
.add_new_widget{
  color: #777;
  position: fixed;
  top: 5px;
  z-index: 1050;
}
.add_new_widget:hover{
  color: #333;
  text-decoration:none;
}

.body-container{
  margin-top: 55px;
}

@media (min-width: 768px){

}

@media (max-width: 768px){
  .navbar-nav{
    overflow: hidden!important;
  }

}

.dashboard-title{
  color : white !important;
  font-weight: bold;
  font-family: Lucida Grande;
}


#dashboard_selected_list.form-control:focus{
  border : 1px solid white;
  box-shadow: none!important;
}

.gridster-loaded .gridster-preview-holder{
  background-color: rgba(40, 96, 144, 1) !important;
}


.signup-or-separator {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 34px;
    position: relative;
    text-align: center;
}
.signup-or-separator hr {
    border-top: 1px solid #dce0e0;
    margin: -16px auto 10px;
    width: 90%;
}


.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -ms-animation: spin .7s infinite linear;
  -webkit-animation: spinw .7s infinite linear;
  -moz-animation: spinm .7s infinite linear;
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes spinw {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spinm {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}

.modal-content{
  border-radius: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
