/*body {
  padding-top: 20px;
}*/

.signup-or-separator {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 34px;
    position: relative;
    text-align: center;
}
.signup-or-separator hr {
    border-top: 1px solid #dce0e0;
    margin: -16px auto 10px;
    width: 90%;
}
